@model IEnumerable<TESTFRAMEWORK.Models.Researcher_tbl>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OtherInfo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.department.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.division.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeResearch1.type_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.work_groups.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OtherInfo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.department.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.division.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeResearch1.type_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.work_groups.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ResearcherNumber }) |
            @Html.ActionLink("Details", "Details", new { id=item.ResearcherNumber }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ResearcherNumber })
        </td>
    </tr>
}

</table>
